---
import { ArrowRight } from 'lucide-react'
import { getCollection } from 'astro:content'

const stuff = (await getCollection('stuff', ({ data }) => data.draft !== true && data.hidden !== true)).sort((a, b) => +b.data.created - +a.data.created)

const sections = [
  { title: 'Tools', entries: stuff.filter(s => s.data.category === 'tools') },
  { title: 'Resources', entries: stuff.filter(s => s.data.category === 'resources') },
  { title: 'Guides', entries: stuff.filter(s => s.data.category === 'guides') },
  { title: 'Posts', entries: stuff.filter(s => s.data.category === 'posts') },
]

const offtopic = stuff.filter(s => s.data.category === 'off-topic')

const base = import.meta.env.BASE_URL
---

{sections.map(({ title, entries }) => entries.length > 0 && (
    <div class="mt-16 max-w-xl mx-auto">
      <div class="flex items-center gap-2 font-semibold">
        {title}
      </div>

      <div class="prose prose-sm prose-sky sm:prose-base dark:prose-invert mt-4 space-y-4" id="stuff">
        {entries.map(entry => (
          <article class="flex items-start gap-2">
            <ArrowRight className="size-4 h-7 shrink-0 opacity-75"/>
            <a href={`${base}${entry.slug}/`}>{entry.data.title}</a>
          </article>
        ))}
      </div>
    </div>
  )
)}

<div class="mt-16 max-w-xl mx-auto">
  <div class="flex items-center gap-2 font-semibold">
    Links
  </div>

  <div class="prose prose-sm prose-sky sm:prose-base dark:prose-invert mt-4 space-y-4" id="stuff">
    <article class="flex items-start gap-2">
      <ArrowRight className="size-4 h-7 shrink-0 opacity-75"/>
      <div>Vodact's <a href="https://www.vodact.com/sandbox/quiz-answers.html" rel="noopener">Quiz answers</a> for many experiences. And while you're there, his other tools are great, too!</div>
    </article>
  </div>
</div>

{offtopic.length > 0 && (
  <div class="mt-16 max-w-xl mx-auto">
      <div class="flex items-center gap-2 font-semibold">
        Off-Topic
      </div>

      <div class="prose prose-sm prose-sky sm:prose-base dark:prose-invert mt-4 space-y-4" id="stuff">
        {offtopic.map(entry => (
          <article class="flex items-start gap-2">
            <ArrowRight className="size-4 h-7 shrink-0 opacity-75"/>
            <a href={`${base}${entry.slug}/`}>{entry.data.title}</a>
          </article>
        ))}
      </div>
    </div>
)}
